@mixin bp($value,$dir:"max-width"){
  @if $dir=="max-width"{
    @if map-has-key($breakpoints, $value) {
      @media (max-width: #{map-get($breakpoints, $value)}) {
        @content;
      }
    }
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$value}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
  }
  @else{
    @if map-has-key($breakpoints, $value) {
      @media (min-width: #{map-get($breakpoints, $value)+1}) {
        @content;
      }
    }
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$value}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
  }
}

@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}
@mixin transition( $val : ease 0.5s ) {
  -webkit-transition: $val;
  -moz-transition:$val;
  -o-transition:$val;
  -ms-transition:$val;
  transition:$val;
}
@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
@mixin calc{
  min-height: 100vh;
  min-height: -moz-calc( #{$height-window} - #{$height-header});
  min-height: -o-calc( #{$height-window} - #{$height-header});
  min-height: -webkit-calc( #{$height-window} - #{$height-header});
  min-height: calc( #{$height-window} - #{$height-header});
}
@mixin calcSearch(){
  width: 85%;
  width: -moz-calc( #{$full-width} - #{$space-header-all});
  width: -o-calc( #{$full-width} - #{$space-header-all});
  width: -webkit-calc( #{$full-width} - #{$space-header-all});
  width: calc( #{$full-width} - #{$space-header-all});
}
@mixin calcSearch1(){
  width: 100%;
  width: -moz-calc( #{$full-width} - #{$space-search-right});
  width: -o-calc( #{$full-width} - #{$space-search-right});
  width: -webkit-calc( #{$full-width} - #{$space-search-right});
  width: calc( #{$full-width} - #{$space-search-right});
}
@mixin nav-sub-box($linkPaddingTop,$linkPaddingRight,$linkPaddingBottom,$linkPaddingLeft){
  .nav-sub{
    right: 0;
    top: -13px;
    position: absolute;
    background: $bg-color-block;
    padding: $padding-items/2 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 2;
    display: none;
    @extend %shadow;
    a{
      font-size: $font-size-first;
      font-family: $font-first;
      color: $color-first;
      padding: $linkPaddingTop $linkPaddingRight $linkPaddingBottom $linkPaddingLeft;
      display: block;
      position: relative;
      margin: 0;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      &.router-link-active{
        background: $bg-color-hover;
      }
      &:hover{
        color: $color-second-site;
        svg{
          fill: $color-second-site;
          fill-opacity: 1;
        }
      }
    }
    svg{
      position: absolute;
      left: 13px;
      top: 13px;
      fill-opacity: .54;
    }
  }
  &.active{
    .nav-sub{
      display: block;
    }
  }
}
%display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
%flex-wrap-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
%flex-direction-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
%select-text-none{
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
%shadow{
  -webkit-box-shadow:  0 0 12px rgba(0,0,0, 0.65);
  -moz-box-shadow:  0 0 12px rgba(0,0,0, 0.65);
  box-shadow:  0 0 12px rgba(0,0,0, 0.65);
}


//Flex Box mixins
@mixin display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-wrap-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin flex-direction($value) {
  @if $value == 'row' {
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
  }
  @if $value == 'column' {
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  flex-direction: $value;
}
@mixin flex-order($value) {
  -webkit-box-ordinal-group: $value;
  -moz-box-ordinal-group: $value;
  -ms-flex-order: $value;
  -webkit-order: $value;
  order: $value;
}
@mixin justify-content($justify: space-between){
  -webkit-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
}
@mixin align-items($align: center){
  -webkit-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}