<router-outlet></router-outlet>
<section class="description active" *ngIf="showView && speaker">
    <div class="photo-top">
        <img src="{{speaker.avatarImageURL ? speaker.avatarImageURL : 'images/photo1.png'}}">
    </div>
    <div class="info-speaker">
        <div class="name-speaker">
            <p>{{speaker.firstName}} {{speaker.lastName}}</p>
        </div>
        <div class="desc-work-speaker">
            {{speaker.jobTitle}}
        </div>
    </div>
    <div class="link-site">
        <a *ngIf="speaker.twitterName" href="https://twitter.com/{{speaker.twitterName}}" class="twitter" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="24px" height="24px" viewBox="-0.5 0.5 24 24" enable-background="new -0.5 0.5 24 24" xml:space="preserve">
                    <path d="M21.639,6.079c-0.736,0.327-1.526,0.547-2.357,0.646c0.847-0.508,1.498-1.313,1.805-2.27
                        c-0.793,0.469-1.673,0.811-2.606,0.996c-0.748-0.8-1.813-1.296-2.994-1.296c-2.268,0-4.103,1.837-4.103,4.103
                        c0,0.321,0.036,0.634,0.107,0.935C8.08,9.021,5.056,7.387,3.031,4.904C2.678,5.512,2.476,6.216,2.476,6.969
                        c0,1.422,0.723,2.678,1.825,3.416c-0.672-0.022-1.305-0.207-1.858-0.515c0,0.018,0,0.035,0,0.051c0,1.991,1.414,3.646,3.29,4.024
                        c-0.343,0.095-0.706,0.146-1.08,0.146c-0.265,0-0.523-0.027-0.773-0.073c0.524,1.628,2.039,2.813,3.834,2.849
                        c-1.403,1.101-3.174,1.755-5.097,1.755c-0.332,0-0.659-0.018-0.979-0.058c1.815,1.164,3.973,1.844,6.289,1.844
                        c7.547,0,11.677-6.253,11.677-11.674c0-0.179-0.006-0.356-0.013-0.531C20.394,7.625,21.091,6.902,21.639,6.079"/>
                    </svg>
            TWITTER
        </a>
        <a *ngIf="speaker.webSite" href="{{speaker.webSite}}" class="website" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                        <g>
                            <path id="path2816" fill="none" stroke="#000000" stroke-linecap="round" d="M22,12c0,5.374-4.477,9.729-10,9.729S2,17.374,2,12
                                s4.477-9.729,10-9.729S22,6.626,22,12L22,12z"/>
                            <path id="path3592" fill="none" stroke="#000000" d="M3.645,6.974h17.131"/>
                            <path id="path3592-2" fill="none" stroke="#000000" d="M3.439,16.814h17.543"/>
                            <path id="path3592-2-5" fill="none" stroke="#000000" d="M2.42,11.971h19.174"/>
                            <path id="path3592-4-4-3" fill="none" stroke="#000000" d="M11.828,21.327V2.563"/>
                            <path id="path3592-4-4-3-0" fill="none" stroke="#000000" d="M11.828,21.327c-6.145-2.116-7.166-15.374,0-18.764"/>
                            <path id="path3592-4-4-3-8" fill="none" stroke="#000000" d="M11.828,21.327c7.113-3.137,7.113-15.374,0-18.764"/>
                        </g>
                    </svg>
            WEBSITE
        </a>
    </div>
    <div class="text-speaker">
        <p>{{speaker.characteristic}}</p>
    </div>
    <div class="desc-info-wrap">
        <div class="additionally">
            <p>The Big Easy: Streamlined Front-End Development with Pattern Lab and Twig</p>
        </div>
        <div class="desc-info">
            Wed, 10:45 AM - 11:45 AM in 260-261 (Pantheon)
        </div>
        <div class="desc-type-session">
            <p>Front End</p>
        </div>
        <div class="desk-level">
            <p>
                Experience level: Advanced
                      <span class="level-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                        <rect class="level-rect1" x="2" y="12.444" width="2.667" height="4.889"/>
                        <rect class="level-rect3" x="15.333" y="2.667" width="2.667" height="14.667"/>
                        <rect class="level-rect2" x="8.667" y="7.555" width="2.666" height="9.778"/>
                    </svg>
                </span>
            </p>
        </div>
    </div>


</section>
