<header class="cf">
    <div class="top-menu">
        <div class="hamburger-box">
              <span class="hamburger">
              </span>
        </div>
        <span class="info-text">Speakers</span>
    </div>
    <div class="search">
        <input type="submit">
        <input type="search" placeholder="Search" #search [ngModel]="searchQuery" (ngModelChange)="searchSpeaker(search.value)">
    </div>
</header>
<div id="page">
    <div class="inner cf">
        <section class="info">
            <ul class="speakers-info">
                <li *ngFor="#letter of alphabet">
                    <a *ngFor="#speaker of filteredSpeakers[letter]" [routerLink]="['Show', {id: speaker.speakerId}]">
                        <span *ngIf="filteredSpeakers[letter].indexOf(speaker) == 0" class="alphabet">{{letter}}</span>
                        <span class="photo"><img src="{{speaker.avatarImageURL}}" alt=""></span>
                        <div class="text">
                            <strong class="name">{{speaker.firstName}} {{speaker.lastName}}</strong>
                            <span class="job">{{speaker.jobTitle}}</span>
                        </div>
                        </a>
                </li>
            </ul>
        </section>
        <router-outlet></router-outlet>
    </div>
</div>
<div class="over"></div>
