<a href="javascript:void(0)" class="icon-favorite" [class.favorite-yes]="event.isFavorite">
    <svg (click)="toggleFavorite(event, !event.isFavorite)" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
        <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M12,17.27L18.179,21l-1.639-7.029L22,9.24L14.81,8.63L12,2L9.19,8.63L2,9.24l5.46,4.731L5.819,21L12,17.27z"/>
    </svg>
</a>
