<section class="left-navigation">
    <div class="bg-nav">
        <img src="src/images/bg_nav_drawer_header.jpg">
    </div>
    <nav>
        <ul class="nav-menu">
            <li [class.active]="isActive(['Sessions', any])">
                <a [routerLink]="['Sessions', 'List']" >
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                    <path d="M17,12h-5v5h5V12z M16,1v2H8V1H6v2H5C3.89,3,3.01,3.9,3.01,5L3,19c0,1.1,0.89,2,2,2h14c1.1,0,2-0.9,2-2V5c0-1.1-0.9-2-2-2
                        h-1V1H16z M19,19H5V8h14V19z"/>
                    </svg>
                    Sessions
                </a>
            </li>
            <li>
                <a href="#">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                    <path d="M18.828,3h-14c-1.1,0-2,0.9-2,2v14c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2V5C20.828,3.9,19.928,3,18.828,3z M8.849,17h-2v-2h2
                        V17z M8.849,13h-2v-2h2V13z M8.849,9h-2V7h2V9z M17.183,17h-6.334v-2h6.334V17z M17.183,13h-6.334v-2h6.334V13z M17.183,9h-6.334V7
                        h6.334V9z"/>
                    </svg>
                    BoFs
                </a>
            </li>
            <li>
                <a href="#">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                    <path d="M21,6h-2v9H6v2c0,0.55,0.45,1,1,1h11l4,4V7C22,6.45,21.55,6,21,6z M17,12V3c0-0.55-0.45-1-1-1H3C2.45,2,2,2.45,2,3v14l4-4
                        h10C16.55,13,17,12.55,17,12z"/>
                    </svg>
                    Social Events
                </a>
            </li>
            <li>
                <a href="#">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="24px" height="24px" viewBox="-0.5 0.5 24 24" enable-background="new -0.5 0.5 24 24" xml:space="preserve">
                    <path d="M21.639,6.079c-0.736,0.327-1.526,0.547-2.357,0.646c0.847-0.508,1.498-1.313,1.805-2.27
                        c-0.793,0.469-1.673,0.811-2.606,0.996c-0.748-0.8-1.813-1.296-2.994-1.296c-2.268,0-4.103,1.837-4.103,4.103
                        c0,0.321,0.036,0.634,0.107,0.935C8.08,9.021,5.056,7.387,3.031,4.904C2.678,5.512,2.476,6.216,2.476,6.969
                        c0,1.422,0.723,2.678,1.825,3.416c-0.672-0.022-1.305-0.207-1.858-0.515c0,0.018,0,0.035,0,0.051c0,1.991,1.414,3.646,3.29,4.024
                        c-0.343,0.095-0.706,0.146-1.08,0.146c-0.265,0-0.523-0.027-0.773-0.073c0.524,1.628,2.039,2.813,3.834,2.849
                        c-1.403,1.101-3.174,1.755-5.097,1.755c-0.332,0-0.659-0.018-0.979-0.058c1.815,1.164,3.973,1.844,6.289,1.844
                        c7.547,0,11.677-6.253,11.677-11.674c0-0.179-0.006-0.356-0.013-0.531C20.394,7.625,21.091,6.902,21.639,6.079"/>
                    </svg>
                    Social Media
                </a>
            </li>
        </ul>
        <ul class="nav-menu">
            <li>
                <a href="#">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                    <path d="M12,17.27L18.18,21l-1.64-7.029L22,9.24l-7.189-0.61L12,2L9.19,8.63L2,9.24l5.46,4.731L5.82,21L12,17.27z"/>
                    </svg>
                    My Schedule
                </a>
            </li>
            <li [class.active]="isActive(['Floors'])">
                <a [routerLink]="['Floors']">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="24px" height="24px" viewBox="-0.5 0.5 24 24" enable-background="new -0.5 0.5 24 24" xml:space="preserve">
                    <g>
                        <path d="M12.803,2.487c-2.585,0-4.674,2.089-4.674,4.673c0,3.508,4.674,8.682,4.674,8.682s4.675-5.174,4.675-8.682
                            C17.478,4.577,15.387,2.487,12.803,2.487z M12.803,8.832c-0.922,0-1.669-0.75-1.669-1.671c0-0.92,0.748-1.669,1.669-1.669
                            c0.92,0,1.668,0.749,1.668,1.669C14.471,8.082,13.723,8.832,12.803,8.832z"/>
                        <path d="M18.122,9.809c-0.271,0.741-0.628,1.49-1.025,2.222h1.004v8.232H5.043v-8.232h3.465C8.11,11.299,7.754,10.55,7.483,9.809
                            H2.821v12.678h17.5V9.809H18.122z"/>
                    </g>
                    </svg>
                    Floor Plan
                </a>
            </li>
            <li [class.active]="isActive(['Locations'])">
                <a [routerLink]="['Locations']">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                    <path d="M20.5,3l-0.16,0.03L15,5.1L9,3L3.36,4.9C3.15,4.97,3,5.15,3,5.38V20.5C3,20.779,3.22,21,3.5,21l0.16-0.029L9,18.9l6,2.1
                        l5.641-1.9C20.85,19.029,21,18.85,21,18.62V3.5C21,3.22,20.779,3,20.5,3z M15,19l-6-2.109V5l6,2.11V19z"/>
                    </svg>
                    Location
                </a>
            </li>
            <li [class.active]="isActive(['Speakers', any])">
                <a [routerLink]="['Speakers', 'List']">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                    <path d="M16,11c1.66,0,2.99-1.34,2.99-3S17.66,5,16,5s-3,1.34-3,3S14.34,11,16,11z M8,11c1.66,0,2.99-1.34,2.99-3S9.66,5,8,5
                        S5,6.34,5,8S6.34,11,8,11z M8,13c-2.33,0-7,1.17-7,3.5V19h14v-2.5C15,14.17,10.33,13,8,13z M16,13c-0.29,0-0.62,0.02-0.971,0.05
                        C16.189,13.891,17,15.02,17,16.5V19h6v-2.5C23,14.17,18.33,13,16,13z"/>
                    </svg>
                    Speakers
                </a>
            </li>
        </ul>
        <ul class="nav-menu">
            <li [class.active]="isActive(['Pages', any])">
                <a [routerLink]="['Pages', 'List']">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10c5.52,0,10-4.48,10-10C22,6.48,17.52,2,12,2z M13,17h-2v-6h2V17z M13,9h-2V7
	h2V9z"/>
</svg>
                    Info
                </a>
            </li>
        </ul>
    </nav>
</section>
