header{
  height: 64px;
  width: 100%;
  padding: 14px 27px 14px 264px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: $color-first-site;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  -webkit-box-shadow:  0 0 12px rgba(0,0,0, 0.65);
  -moz-box-shadow:  0 0 12px rgba(0,0,0, 0.65);
  box-shadow:  0 0 12px rgba(0,0,0, 0.65);
  a{
    color: #ffffff;
    text-decoration: none;
  }
  .date{
    ul{
      white-space: nowrap;
    }
    li{
      display: inline-block;
      font-size: $font-size-seconf;
      font-family: $font-second;
      &.active{
        a{
          opacity: 1;
          border-bottom: 2px solid #ffffff;
        }
      }
    }
    a{
      opacity: .54;
      display: inline-block;
      padding: 0 20px 14px;
      margin-bottom: -14px;
      font-size: 14px;
    }
  }
  .info-text{
    margin-left: 35px;
    font-family: $font-second;
    font-size: 20px;
    line-height: 1;
    color: #ffffff;
    opacity: 1;
    @include transition(opacity 0.1s ease 0.3s);
  }
  .top-menu{
    position: absolute;
    left: $paddingHeader;
    top: 25px;
  }
  .description-top{
    position: relative;
    text-align: center;
    padding-right: 58px;
    top: 14px;
    height: 36px;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .filter{
    position: absolute;
    right: 26px;
    top: 23px;
    cursor: pointer;
    svg{
      display: block;
      fill:#ffffff;
    }
    .full-filter{
      fill: transparent;
    }
    &.active{
      .full-filter{
        fill: #ffffff;
      }
    }
  }
  .search{
    position: absolute;
    right: 27px;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 0;
    @include transition(width ease 0.3s);
    input{
      height: 34px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
    }
    input[type="search"]{
      border: none;
      background: transparent;
      border-bottom: 1px solid #ffffff;
      padding: 8px 20px 8px 8px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      width: 287px;
      height: 34px;
      max-width: 100%;
      font-size: $font-size-first;
      line-height: $base-lineH;
      color: rgba(255,255,255,.32);
      margin-right: -17px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      @include placeholder{
        color: rgba(255,255,255,.32);
      }

    }
    .icon-search{
      background: url(../images/search-icon.svg) 0 90% no-repeat;
      height: 34px;
      width: 30px;
      border: none;
      padding: 0;
      text-indent: -9999px;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }
    .close{
      cursor: pointer;
      color: #ffffff;
      height: 34px;
      line-height: 34px;
      width: 24px;
      text-align: center;
      z-index: 1;
      top: 0;
      right: 0;
      position: absolute;
      font-family: sans-serif, Arial, "Helvetica Neue", Helvetica;
      opacity: 0;
      @include transition(opacity ease 0.1s);
    }
  }
  .arrow-back{
    position: absolute;
    left: -4px;
    top: -2px;
    svg{
      display: block;
      fill:#ffffff;
    }
  }
  &.active{
    .search{
      width: 287px;
    }
    .info-text{
      opacity: 0;
      @include transition(opacity ease 0.3s);
    }
    .close{
      opacity: 1;
      @include transition(opacity 0.1s ease 0.3s);
    }
  }
  @media (max-width: $mediaMaxWidth) {
    padding-left: 230px;
    .top-menu {
      left: $base-space-mob;
      top: 25px;
    }
    .filter{
      right: $base-space-mob;
    }
    .date{
      a{
        padding: 0 14px 14px;
      }
    }
    .search{
      right: $base-space-mob;
    }
    &.active{
      .search{
        width: 237px;
      }
    }
  }
}

.hamburger-box{
  width: 18px;
  height: 12px;
  position: relative;
  margin: 4px 0;
  cursor: pointer;
  float: left;
}
.hamburger{
  width: 100%;
  height: 2px;
  background: #ffffff;
  padding: 0;
  border: 0;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  &:focus{
    outline: none;
  }
  &:after,&:before{
    content: '';
    height: 2px;
    width: 100%;
    background: #ffffff;
    position: absolute;
    left: 0;
  }
  &:after{
    top: -5px;
  }
  &:before{
    bottom: -5px;
  }
}
@media (max-width: $mediaMaxWidth1) {
  body.view{
    padding-top: 112px;
    header{
      height: 112px;
      padding-right: 14px;
      .description-top{
        position: absolute;
        left: 0;
        top: auto;
        bottom: 0;
        width: 100%;
        margin-bottom: 0;
        padding: 0;
        overflow-y: auto;
      }
      .search{
        left: 0;
        right: 0;
        margin: auto;
        bottom: 16px;
        position: absolute;
        padding-left: 45px;
        padding-right: 7px;
        width: 304px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        input[type="search"]{
          width: 252px;
        }
        input[type="submit"]{
          margin-left: -40px;
          margin-right: 12px;
        }
      }
    }
    .description{
      &.active{
        top: 0;
        padding-top: 112px+25px;
      }
    }
  }
}
