<header class="header">
    <div class="top-menu">
        <div class="hamburger-box">
              <span class="hamburger">
              </span>
        </div>
        <span class="info-text">Floor Plan</span>
    </div>
    <div class="box-menu">
        <ul class="nav">
            <li>
                <a class="select" href="#">Floor/Corps_1</a>
                <ul class="nav-sub">
                    <li><a href="#">Floor/Corps_1</a></li>
                    <li><a href="#">Floor/Corps_2</a></li>
                    <li><a href="#">Floor/Corps_3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<div id="page">
    <div class="inner cf">
        <div class="plane">
            <div class="box-img">
                <img src="/markup/images/plan.png">
            </div>
        </div>
    </div>
</div>
