<section class="info">
    <ul class="events-info my-schedule" *ngIf="activeEvents">
        <li class="title" *ngFor="let type of getKeys(activeEvents)"><span>{{type}}</span></li>
        <li>
            <div class="events-info_box">
                <div class="box-item">
                    <a class="cf favorite-yes" href="#">
                        <div class="wrap-time">
                            <div class="time">8:00 AM</div>
                            <div class="time-to">to 09:00 AM</div>
                            <div class="base-icon">
                                <svg class="registration-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                    <path d="M4.333,12.93v3.404h3.402L17.771,6.297l-3.403-3.402L4.333,12.93z M20.401,3.667c0.354-0.354,0.354-0.926,0-1.28
                                        l-2.122-2.123c-0.354-0.354-0.928-0.354-1.281,0l-1.658,1.66l3.4,3.403L20.401,3.667z"/>
                                            <path d="M0.001,23.999h23.998v-2.666H0.001V23.999z"/>
                                    </svg>
                            </div>
                        </div>
                        <div class="info-event">
                            <div class="favorite">
                                <svg class="icon-favorite" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M12,17.27L18.179,21l-1.639-7.029L22,9.24L14.81,8.63L12,2L9.19,8.63
                                    L2,9.24l5.46,4.731L5.819,21L12,17.27z"/>
                                </svg>
                                <div class="title">Registration</div>
                                <div class="place">
                                    Lobby - Hall G
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li>
            <div class="events-info_box">
                <div class="box-item">
                    <a class="cf" href="#">
                        <div class="wrap-time">
                            <div class="time">8:00 AM</div>
                            <div class="time-to">to 09:00 AM</div>
                        </div>
                        <div class="info-event">
                            <div class="favorite">
                                <svg class="icon-favorite" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M12,17.27L18.179,21l-1.639-7.029L22,9.24L14.81,8.63L12,2L9.19,8.63
                                    L2,9.24l5.46,4.731L5.819,21L12,17.27z"/>
                                </svg>
                                <div class="title">Keynote: Sara Wachter-Boettcher</div>
                                <div class="place">
                                    Hall G
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="box-item">
                    <a class="cf active" href="#">
                        <div class="info-event">
                            <div class="favorite">
                                <svg class="icon-favorite" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M12,17.27L18.179,21l-1.639-7.029L22,9.24L14.81,8.63L12,2L9.19,8.63
                                        L2,9.24l5.46,4.731L5.819,21L12,17.27z"/>
                                    </svg>

                                <div class="title">Drupal 8 Kickstart</div>
                                <div class="type-session">Coding and Development</div>
                                <div class="level">Experience level: Intermediate</div>
                                <span class="level-icon level-icon2">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                                <rect class="level-rect1" x="2" y="12.444" width="2.667" height="4.889"></rect>
                                                <rect class="level-rect3" x="15.333" y="2.667" width="2.667" height="14.667"></rect>
                                                <rect class="level-rect2" x="8.667" y="7.555" width="2.666" height="9.778"></rect>
                                            </svg>
                                        </span>
                                <div class="speaker">
                                    Peter Sawczynec
                                </div>
                                <div class="place">
                                    260-261 (Pantheon)
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="box-item">
                    <a class="cf" href="#">
                        <div class="info-event">
                            <div class="favorite">
                                <svg class="icon-favorite" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M12,17.27L18.179,21l-1.639-7.029L22,9.24L14.81,8.63L12,2L9.19,8.63
                                    L2,9.24l5.46,4.731L5.819,21L12,17.27z"/>
                                </svg>
                                <div class="title">Coffee Break sponsored by Third and Grove</div>
                                <div class="place">
                                    Exhibit Hall
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </li>
        <li>
            <div class="events-info_box">
                <div class="box-item">
                    <a class="cf favorite-yes" href="#">
                        <div class="wrap-time">
                            <div class="time">8:00 AM</div>
                            <div class="time-to">to 09:00 AM</div>
                            <div class="base-icon">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                    <path d="M21.6,0H2.4v12c0,2.651,2.148,4.8,4.8,4.8h7.2c2.651,0,4.8-2.148,4.8-4.8V8.4H21.6C22.932,8.4,24,7.332,24,6V2.4
                                        C24,1.068,22.932,0,21.6,0z M21.6,6H19.2V2.4H21.6V6z M0,23.999h21.6V21.6H0V23.999z"/>
                                    </svg>
                            </div>
                        </div>
                        <div class="info-event">
                            <div class="favorite">
                                <svg class="icon-favorite" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M12,17.27L18.179,21l-1.639-7.029L22,9.24L14.81,8.63L12,2L9.19,8.63
                                    L2,9.24l5.46,4.731L5.819,21L12,17.27z"/>
                                </svg>
                                <div class="title">Coffee Break sponsored by Third and Grove</div>
                                <div class="place">
                                    Exhibit Hall
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
    </ul>
    <ul class="events-info my-schedule">
        <li class="title"><span>BoFs</span></li>
        <li>
            <div class="events-info_box">
                <div class="box-item">
                    <a class="cf favorite-yes" href="#">
                        <div class="wrap-time">
                            <div class="time">8:00 AM</div>
                            <div class="time-to">to 09:00 AM</div>
                            <div class="base-icon">
                                <svg class="registration-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                    <path d="M4.333,12.93v3.404h3.402L17.771,6.297l-3.403-3.402L4.333,12.93z M20.401,3.667c0.354-0.354,0.354-0.926,0-1.28
                                        l-2.122-2.123c-0.354-0.354-0.928-0.354-1.281,0l-1.658,1.66l3.4,3.403L20.401,3.667z"/>
                                            <path d="M0.001,23.999h23.998v-2.666H0.001V23.999z"/>
                                    </svg>
                            </div>
                        </div>
                        <div class="info-event">
                            <div class="favorite">
                                <svg class="icon-favorite" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M12,17.27L18.179,21l-1.639-7.029L22,9.24L14.81,8.63L12,2L9.19,8.63
                                    L2,9.24l5.46,4.731L5.819,21L12,17.27z"/>
                                </svg>
                                <div class="title">Registration</div>
                                <div class="place">
                                    Lobby - Hall G
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li>
            <div class="events-info_box">
                <div class="box-item">
                    <a class="cf" href="#">
                        <div class="wrap-time">
                            <div class="time">8:00 AM</div>
                            <div class="time-to">to 09:00 AM</div>
                        </div>
                        <div class="info-event">
                            <div class="favorite">
                                <svg class="icon-favorite" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M12,17.27L18.179,21l-1.639-7.029L22,9.24L14.81,8.63L12,2L9.19,8.63
                                    L2,9.24l5.46,4.731L5.819,21L12,17.27z"/>
                                </svg>
                                <div class="title">Keynote: Sara Wachter-Boettcher</div>
                                <div class="place">
                                    Hall G
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="box-item">
                    <a class="cf active" href="#">
                        <div class="info-event">
                            <div class="favorite">
                                <svg class="icon-favorite" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M12,17.27L18.179,21l-1.639-7.029L22,9.24L14.81,8.63L12,2L9.19,8.63
                                        L2,9.24l5.46,4.731L5.819,21L12,17.27z"/>
                                    </svg>

                                <div class="title">Drupal 8 Kickstart</div>
                                <div class="type-session">Coding and Development</div>
                                <div class="level">Experience level: Intermediate</div>
                                <span class="level-icon level-icon2">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                                <rect class="level-rect1" x="2" y="12.444" width="2.667" height="4.889"></rect>
                                                <rect class="level-rect3" x="15.333" y="2.667" width="2.667" height="14.667"></rect>
                                                <rect class="level-rect2" x="8.667" y="7.555" width="2.666" height="9.778"></rect>
                                            </svg>
                                        </span>
                                <div class="speaker">
                                    Peter Sawczynec
                                </div>
                                <div class="place">
                                    260-261 (Pantheon)
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="box-item">
                    <a class="cf" href="#">
                        <div class="info-event">
                            <div class="favorite">
                                <svg class="icon-favorite" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M12,17.27L18.179,21l-1.639-7.029L22,9.24L14.81,8.63L12,2L9.19,8.63
                                    L2,9.24l5.46,4.731L5.819,21L12,17.27z"/>
                                </svg>
                                <div class="title">Coffee Break sponsored by Third and Grove</div>
                                <div class="place">
                                    Exhibit Hall
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </li>
        <li>
            <div class="events-info_box">
                <div class="box-item">
                    <a class="cf favorite-yes" href="#">
                        <div class="wrap-time">
                            <div class="time">8:00 AM</div>
                            <div class="time-to">to 09:00 AM</div>
                            <div class="base-icon">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                    <path d="M21.6,0H2.4v12c0,2.651,2.148,4.8,4.8,4.8h7.2c2.651,0,4.8-2.148,4.8-4.8V8.4H21.6C22.932,8.4,24,7.332,24,6V2.4
                                        C24,1.068,22.932,0,21.6,0z M21.6,6H19.2V2.4H21.6V6z M0,23.999h21.6V21.6H0V23.999z"/>
                                    </svg>
                            </div>
                        </div>
                        <div class="info-event">
                            <div class="favorite">
                                <svg class="icon-favorite" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M12,17.27L18.179,21l-1.639-7.029L22,9.24L14.81,8.63L12,2L9.19,8.63
                                    L2,9.24l5.46,4.731L5.819,21L12,17.27z"/>
                                </svg>
                                <div class="title">Coffee Break sponsored by Third and Grove</div>
                                <div class="place">
                                    Exhibit Hall
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</section>
